<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SimpleVue</title>
	<script src="./src/dep.js"></script>
	<script src="./src/watcher.js"></script>
	<script src="./src/compiler.js"></script>
	<script src="./src/observer.js"></script>
</head>
<body>
		<div id="app">
			<p>{{tip}}</p>
			<div class="mod_card_tit">{{title}}</div>
			<div class="mod_card_tip" :bind="{{tip}}">
				<div class="mod_card_tip_wrap">
					<p>{{tip + '我要选李白' }}我是测试的p的哈哈哈</p>
				</div>
			</div>
			<label for="haha"><input type="text" v-model="msg">{{msg}}</label>

			<div v-if="isActive">
				<p>你好</p>
				<h2>{{b}}</h2>
			</div>
			<div v-for="item in items">
				<p>{{ item.id }}</p>
				<ul>
					<li v-for="txt in item.text">{{txt.txt}}</li>
				</ul>
			</div>
		</div>
	<script>
		var test = new Vue({
			el: '#app',
			data: {
				title: '我是爽个',
				tip: 'hello vue',
				msg: '',
				isActive: false,
				b: '继续测试',
				items: [
			        {id: '10000', text: [{txt: 'start'}, {txt: ',10000,'}, {txt: 'end'},]},
			        {id: '10001', text: [{txt: 'start'}, {txt: ',10001,'}, {txt: 'end'},]},
			        {id: '10002', text: [{txt: 'start'}, {txt: ',10002,'}, {txt: 'end'},]},
			    ],
			}
		})
/*		test.$watch('a', function(n, o){
			console.group();
			console.log('你是a的第一个依赖监听');
			console.log('你的旧值是',o);
			console.log('你的新值是',n, '\n');
			console.groupEnd();
		})
		test.$watch('a', function(n, o){
			console.group();
			console.log('你是a的第二个依赖监听\n');
			console.groupEnd();
		})
		test.$watch('b', function(n, o){
			console.group();
			console.log('你是b的第一个依赖监听');
			console.log('do something b');
			console.log('你监听了两个数据');
			console.groupEnd();
		})*/
	</script>
<!-- 	<script type="text/javascript">
	
	var text = `<div class="mod_card_hd">
			    	<div class="mod_card_tit">{{title}}</div>
			    	<div class="mod_card_tip" v-if="tip">
			    	<div class="mod_card_tip_wrap">{{tip}}</div>
		    		</div>
				</div>`;
	var node = document.querySelector('.mod_card_hd');

	nodeToFragment(node);

</script> -->
</body>
</html>